h1,
h2,
h3,
h4,
a,
address,
img,
ul,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: 0;
    padding: 0;
}

address {
    font-style: normal;
}