:root {
    --black-color: #000000;
    --black-second-color: #212121;
    --white-color: #ffffff;
    --grey-color: #907E82;
    --grey-second-color: #e1e1e1;

    --red-color: #d41443;
    --pink-color: #ffa5ba;
    --brown-color: #f0d1a5;
    --green-color: #c2e297;

    --hover-color: #ecebeb;

    --bg-first-color: #ffb8ca;
    --bg-second-color: #fff5f6;
    --bg-review-color: #fafafa;

    --bg-menu-first-color: #e17992;
    --bg-menu-second-color: #e18298;

    --bg-btn-hover-color: #ecebeb;

    --dots-active-color: #d31342;
    --dots-color: #d9d9d9;

    --bg-icon-color: #fea5bb;
}