<section id="contact" class="section section-contacts">
  <div class="container">
    <h2 hidden>Contacts</h2>
    <ul class="contacts-list">
      <li class="contacts-item">
        <span class="contacts-item__label">CAFE</span>
        <h3 class="contacts-item__title">Chicago</h3>
        <p class="contacts-item__description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <p class="contacts-item__working-days">Monday - Friday</p>
        <p class="contacts-item__working-hours">06:00 AM - 10:00 PM</p>
        <p
          class="contacts-item__working-days contacts-item__working-days--last"
        >
          Saturday - Sunday
        </p>
        <p
          class="contacts-item__working-hours contacts-item__working-hours--last"
        >
          08:00 AM - 16:00 PM
        </p>
        <address>
          <a class="contacts-item__link" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a
            class="contacts-item__link contacts-item__link--email"
            href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </address>
      </li>
      <li class="contacts-item">
        <span class="contacts-item__label contacts-item__label--green"
          >FOODTRUCK</span
        >
        <h3 class="contacts-item__title">Los Angeles</h3>
        <p class="contacts-item__description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <p class="contacts-item__working-days">Monday - Friday</p>
        <p class="contacts-item__working-hours">06:00 AM - 10:00 PM</p>
        <p
          class="contacts-item__working-days contacts-item__working-days--last"
        >
          Saturday - Sunday
        </p>
        <p
          class="contacts-item__working-hours contacts-item__working-hours--last"
        >
          08:00 AM - 16:00 PM
        </p>
        <address>
          <a class="contacts-item__link" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a
            class="contacts-item__link contacts-item__link--email"
            href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </address>
      </li>
      <li class="contacts-item">
        <span class="contacts-item__label">CAFE</span>
        <h3 class="contacts-item__title">New York</h3>
        <p class="contacts-item__description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <p class="contacts-item__working-days">Monday - Friday</p>
        <p class="contacts-item__working-hours">06:00 AM - 10:00 PM</p>
        <p
          class="contacts-item__working-days contacts-item__working-days--last"
        >
          Saturday - Sunday
        </p>
        <p
          class="contacts-item__working-hours contacts-item__working-hours--last"
        >
          08:00 AM - 16:00 PM
        </p>
        <address>
          <a class="contacts-item__link" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a
            class="contacts-item__link contacts-item__link--email"
            href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </address>
      </li>
    </ul>
    <div class="contacts-button-wrap">
      <button
        class="contacts__btn btn btn--red"
        type="button"
        data-modal-contacts-open
      >
        Our Locations
        <svg class="contacts__btn-icon" width="5.61px" height="10px">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </button>
      <button
        class="contacts__btn btn"
        type="button"
        data-modal-contacts-franchise-open
      >
        Franchise
        <svg
          class="contacts__btn-icon contacts__btn-icon--red"
          width="5.61px"
          height="10px"
        >
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
