<section class="section">
  <div class="container">
    <h2 hidden>Contacts</h2>
    <ul class="contacts-list">
      <li class="contacts-item">
        <span class="contacts-item__label">CAFE</span>
        <h3 class="contacts-item__title">Chicago</h3>
        <p class="contacts-item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <hr class="contacts-item__devider"/>
        <p class="contacts-item__working-days">Monday - Friday</p>
        <p class="contacts-item__working-hours">06:00 AM - 10:00 PM</p>
        <p class="contacts-item__working-days contacts-item__working-days--last">Saturday - Sunday</p>
        <p class="contacts-item__working-hours contacts-item__working-hours--last">08:00 AM - 16:00 PM</p>
        <hr class="contacts-item__devider"/>
        <a class="contacts-item__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        <a class="contacts-item__link contacts-item__link--email" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
      <li class="contacts-item">
        <span class="contacts-item__label contacts-item__label--green">FOODTRUCK</span>
        <h3 class="contacts-item__title">Los Angeles</h3>
        <p class="contacts-item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <hr class="contacts-item__devider" />
        <p class="contacts-item__working-days">Monday - Friday</p>
        <p class="contacts-item__working-hours">06:00 AM - 10:00 PM</p>
        <p class="contacts-item__working-days contacts-item__working-days--last">Saturday - Sunday</p>
        <p class="contacts-item__working-hours contacts-item__working-hours--last">08:00 AM - 16:00 PM</p>
        <hr class="contacts-item__devider"/>
        <a class="contacts-item__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        <a class="contacts-item__link contacts-item__link--email" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
      <li class="contacts-item">
        <span class="contacts-item__label">CAFE</span>
        <h3 class="contacts-item__title">New York</h3>
        <p class="contacts-item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <hr class="contacts-item__devider" />
        <p class="contacts-item__working-days">Monday - Friday</p>
        <p class="contacts-item__working-hours">06:00 AM - 10:00 PM</p>
        <p class="contacts-item__working-days contacts-item__working-days--last">Saturday - Sunday</p>
        <p class="contacts-item__working-hours contacts-item__working-hours--last">08:00 AM - 16:00 PM</p>
        <hr class="contacts-item__devider"/>
        <a class="contacts-item__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        <a class="contacts-item__link contacts-item__link--email" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
    </ul>
    <div class="contacts-button-wrap">
      <button class="button btn btn--red" type="button" data-modal-contacts-open>Our Locations
        <svg class="button__icon" width="5.61px" height="10px">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </button>
      <button class="button btn" type="button">Franchise
        <svg class="button__icon button__icon--red" width="5.61px" height="10px">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>