<section class="review section" id="customer-reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer Reviews</h2>

    <div class="review__slider">
      <div class="review__item">
        <picture>
          <source
            srcset="
              ./images/review/emily.png              1x,
              ./images/review/review@2x/emily@2x.png 2x
            "
            type="image/png"
          />
          <img
            src="images/review/emily.png "
            alt="Emily"
            class="review__photo"
          />
        </picture>
        <div class="review__wrap">
          <div class="review__row">
            <div class="review__quote">
              <article class="review__text">
                <h3 class="visually-hidden">Customer Reviews</h3>
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </article>
            </div>
          </div>
        </div>

        <div class="review__dot"></div>
        <p class="review__name">Emily, Los Angeles</p>
      </div>

      <div class="review__item">
        <picture>
          <source
            srcset="
              ./images/review/rebeqa.png              1x,
              ./images/review/review@2x/rebeqa@2x.png 2x
            "
            type="image/png"
          />
          <img
            src="images/review/rebeqa.png "
            alt="Rebeqa"
            class="review__photo"
          />
        </picture>
        <div class="review__wrap">
          <div class="review__row">
            <div class="review__quote">
              <article class="review__text">
                <h3 class="visually-hidden">customer reviews</h3>
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </article>
            </div>
          </div>
        </div>

        <div class="review__dot"></div>
        <p class="review__name">Rebeqa, New York</p>
      </div>

      <div class="review__item">
        <picture>
          <source
            srcset="
              ./images/review/sabrina.png              1x,
              ./images/review/review@2x/sabrina@2x.png 2x
            "
            type="image/png"
          />
          <img
            src="images/review/sabrina.png "
            alt="Sabrina"
            class="review__photo"
          />
        </picture>
        <div class="review__wrap">
          <div class="review__row">
            <div class="review__quote">
              <article class="review__text">
                <h3 class="visually-hidden">Customer Reviews</h3>
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </article>
            </div>
          </div>
        </div>

        <div class="review__dot"></div>
        <p class="review__name">Sabrina, San Francisco</p>
      </div>
    </div>
  </div>
</section>
