
<footer class="section footer ">
  <div class="container footer__container">
   
      <ul class="footer__btn-list">
        <li class="footer__btn-item">
            <button class="btn btn--red  footer__btn contacts__btn" type="button" data-modal-contacts-open>Our Locations
              <svg class="btn__icon" width="4" height="8">
                <use href="./images/icons.svg#icon-arrow"></use>
              </svg>
            </button>
        </li>
        <li class="footer__btn-item">
            <button class="btn contacts__btn footer__btn" type="button" data-modal-contacts-franchise-open>Franchise 
              <svg class="btn__icon" width="4" height="8">
                <use href="./images/icons.svg#icon-arrow"></use>
              </svg>
            </button>
        </li>
      </ul>
      <div class="footer__box">
        <div class="footer__logo">
        <a class="footer__logo-link" href=https://savchyndd.github.io/team-project-ic/>
          <ul class="footer__logo-list">
          <li class="footer__logo-item-first">homemade ice cream made</li>
          <li class="footer__logo-item-second">with passion</li>
          </ul>
        </a>
      </div>
        <div class="footer__contacts-box">
          <ul class="footer__social-list">
        <li class="footer__social-item">
          <a href="https://github.com/" class="footer__social-link">
            <svg class="footer__social-icon" width="32" height="32">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="https://web.telegram.org/z/" class="footer__social-link">
            <svg class="footer__social-icon" width="32" height="32">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="https://uk-ua.facebook.com/" class="footer__social-link">
            <svg class="footer__social-icon" width="32" height="32">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
          </ul>
          <address class="footer__contacts">
        <a class="footer__contacts__link" href="tel:+610383766284">
          <span class="footer__contacts__link--first">Feel free to contact</span>
          +61 (0) 383 766 284
        </a>
          </address>
        </div>
      </div>
    </div>
  <div class="footer__copyright-box">
    <b class="footer__copyright">© 2022 - IceCream. <span>All Rights Reserved.</span></b>
  </div>
</footer>
