
<footer class="section">
  <div class="container">
    <div class="footer__btn-box">
      <ul class="footer__btn-list">
        <li class="footer__btn-item">
          <a class="footer__btn-link" href="#">
            <button class="footer__btn" type="button"></button>
          </a>
        </li>
        <li class="footer__btn-item">
          <a class="footer__btn-link" href="#">
            <button class="footer__btn" type="button"></button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
