<section class="gallery-section" id="gallary">
  <div class="container gallery-container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="grid">
      <div class="grid__item grid__item--one">
        <picture>
          <source
            srcset="
              ./images/gallery/pistache-ic_mobile.png               1x,
              ./images/gallery/gallery@2x/pistache-ic_mobile@2x.png 2x
            "
            type="type/png"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/pistache-ic_tablet.png               1x,
              ./images/gallery/gallery@2x/pistache-ic_tablet@2x.png 2x
            "
            type="type/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/pistache-ic_desktop.png               1x,
              ./images/gallery/gallery@2x/pistache-ic_desktop@2x.png 2x
            "
            type="type/png"
            media="(min-width: 1200px)"
          />
          <img
            class="grid__image"
            src="./images/gallery/pistache-ic_desktop.png"
            alt="pistache"
            width="138"
            height="138"
          />
        </picture>
      </div>
      <div class="grid__item grid__item--two">
        <picture>
          <source
            srcset="
              ./images/gallery/pink-ic_mobile.png               1x,
              ./images/gallery/gallery@2x/pink-ic_mobile@2x.png 2x
            "
            type="type/png"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/pink-ic_tablet.png               1x,
              ./images/gallery/gallery@2x/pink-ic_tablet@2x.png 2x
            "
            type="type/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/pink-ic_desktop.png               1x,
              ./images/gallery/gallery@2x/pink-ic_desktop@2x.png 2x
            "
            type="type/png"
            media="(min-width: 1200px)"
          />
          <img
            class="grid__image"
            src="./images/gallery/pink-ic_desktop.png"
            alt="pink"
          />
        </picture>
      </div>
      <div class="grid__item grid__item--three">
        <picture>
          <source
            srcset="
              ./images/gallery/berry-ic_mobile.png               1x,
              ./images/gallery/gallery@2x/berry-ic_mobile@2x.png 2x
            "
            type="type/png"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/berry-ic_tablet.png               1x,
              ./images/gallery/gallery@2x/berry-ic_tablet@2x.png 2x
            "
            type="type/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/berry-ic_desktop.png               1x,
              ./images/gallery/gallery@2x/berry-ic_desktop@2x.png 2x
            "
            type="type/png"
            media="(min-width: 1200px)"
          />
          <img
            class="grid__image"
            src="./images/gallery/berry-ic_desktop.png"
            alt="berry"
          />
        </picture>
      </div>
      <div class="grid__item grid__item--four">
        <picture>
          <source
            srcset="
              ./images/gallery/girl-ic_mobile.png               1x,
              ./images/gallery/gallery@2x/girl-ic_mobile@2x.png 2x
            "
            type="type/png"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/girl-ic_tablet.png               1x,
              ./images/gallery/gallery@2x/girl-ic_tablet@2x.png 2x
            "
            type="type/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/girl-ic_desktop.png               1x,
              ./images/gallery/gallery@2x/girl-ic_desktop@2x.png 2x
            "
            type="type/png"
            media="(min-width: 1200px)"
          />
          <img
            class="grid__image"
            src="./images/gallery/girl-ic_desktop.png"
            alt="girl"
          />
        </picture>
      </div>
      <div class="grid__item grid__item--five">
        <picture>
          <source
            srcset="
              ./images/gallery/many-ic_mobile.png               1x,
              ./images/gallery/gallery@2x/many-ic_mobile@2x.png 2x
            "
            type="type/png"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/many-ic_tablet.png               1x,
              ./images/gallery/gallery@2x/many-ic_tablet@2x.png 2x
            "
            type="type/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/many-ic_desktop.png               1x,
              ./images/gallery/gallery@2x/many-ic_desktop@2x.png 2x
            "
            type="type/png"
            media="(min-width: 1200px)"
          />
          <img
            class="grid__image"
            src="./images/gallery/many-ic_desktop.png"
            alt="many"
          />
        </picture>
      </div>
      <div class="grid__item grid__item--six">
        <picture>
          <source
            srcset="
              ./images/gallery/dissert_mobile.png               1x,
              ./images/gallery/gallery@2x/dissert_mobile@2x.png 2x
            "
            type="type/png"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/dissert_tablet.png               1x,
              ./images/gallery/gallery@2x/dissert_tablet@2x.png 2x
            "
            type="type/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/dissert_desktop.png               1x,
              ./images/gallery/gallery@2x/dissert_desktop@2x.png 2x
            "
            type="type/png"
            media="(min-width: 1200px)"
          />
          <img
            class="grid__image"
            src="./images/gallery/dissert_desktop.png"
            alt="dissert"
          />
        </picture>
      </div>
      <div class="grid__item grid__item--seven">
        <picture>
          <source
            srcset="
              ./images/gallery/red-ic_mobile.png               1x,
              ./images/gallery/gallery@2x/red-ic_mobile@2x.png 2x
            "
            type="type/png"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/red-ic_tablet.png               1x,
              ./images/gallery/gallery@2x/red-ic_tablet@2x.png 2x
            "
            type="type/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/red-ic_desktop.png               1x,
              ./images/gallery/gallery@2x/red-ic_desktop@2x.png 2x
            "
            type="type/png"
            media="(min-width: 1200px)"
          />
          <img
            class="grid__image"
            src="./images/gallery/red-ic_desktop.png"
            alt="red"
          />
        </picture>
      </div>
      <div class="grid__item grid__item--eight">
        <picture>
          <source
            srcset="
              ./images/gallery/dog-ic_mobile.png               1x,
              ./images/gallery/gallery@2x/dog-ic_mobile@2x.png 2x
            "
            type="type/png"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/dog-ic_tablet.png               1x,
              ./images/gallery/gallery@2x/dog-ic_tablet@2x.png 2x
            "
            type="type/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/dog-ic_desktop.png               1x,
              ./images/gallery/gallery@2x/dog-ic_desktop@2x.png 2x
            "
            type="type/png"
            media="(min-width: 1200px)"
          />
          <img
            class="grid__image"
            src="./images/gallery/dog-ic_desktop.png"
            alt="dog"
          />
        </picture>
      </div>
      <div class="grid__item grid__item--nine">
        <picture>
          <source
            srcset="
              ./images/gallery/glace_mobile.png               1x,
              ./images/gallery/gallery@2x/glace_mobile@2x.png 2x
            "
            type="type/png"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/glace_tablet.png               1x,
              ./images/gallery/gallery@2x/glace_tablet@2x.png 2x
            "
            type="type/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/glace_desktop.png               1x,
              ./images/gallery/gallery@2x/glace_desktop@2x.png 2x
            "
            type="type/png"
            media="(min-width: 1200px)"
          />
          <img
            class="grid__image"
            src="./images/gallery/glace_desktop.png"
            alt="glace"
          />
        </picture>
      </div>
      <div class="grid__item grid__item--ten">
        <picture>
          <source
            srcset="
              ./images/gallery/sweet_mobile.png               1x,
              ./images/gallery/gallery@2x/sweet_mobile@2x.png 2x
            "
            type="type/png"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/sweet_tablet.png               1x,
              ./images/gallery/gallery@2x/sweet_tablet@2x.png 2x
            "
            type="type/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/sweet_desktop.png               1x,
              ./images/gallery/gallery@2x/sweet_desktop@2x.png 2x
            "
            type="type/png"
            media="(min-width: 1200px)"
          />
          <img
            class="grid__image"
            src="./images/gallery/sweet_desktop.png"
            alt="sweet"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
