<section class="section header-decor">
  <div class="container">
    <header class="header header-padding">
      <h1 hidden>dsaadda</h1>
      <nav class="site-nav">
        <div class="logo">
          <a href="" class="logo__link">
            <svg class="logo__icon" width="199" height="50">
              <use href="./images/icons.svg#icon-logo"></use>
            </svg>
          </a>
        </div>
        <ul class="site-nav__list">
          <li class="site-nav__item">
            <a href="#" class="site-nav__link">Home</a>
          </li>
          <li class="site-nav__item">
            <a href="#" class="site-nav__link">About us</a>
          </li>
          <li class="site-nav__item">
            <a href="#" class="site-nav__link">How it’s made?</a>
          </li>
          <li class="site-nav__item">
            <a href="#" class="site-nav__link">Our products</a>
          </li>
          <li class="site-nav__item">
            <a href="#" class="site-nav__link">Contact</a>
          </li>
        </ul>
      </nav>
      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg width="20" height="12">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </button>
      <button class="site-nav__btn btn" type="button">Buy now
        <svg class="site-nav__btn-icon"  width="20" height="12">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </button>
    </header>
  </div>
  <div class="menu-container js-menu-container" id="mobile-menu">
      <button class="menu-toggle js-close-menu">
        <svg width="40" height="40">
          <use href="./images/icons.svg#icon-close-modal"></use>
        </svg>
      </button>
      <button class="mobil-nav__btn btn" type="button">Buy now</button>
      <ul class="mobil-menu">
        <li class="mobil-menu__item">
          <a class="mobil-menu__link" href="#">Home</a>
        </li>
        <li class="mobil-menu__item">
          <a class="mobil-menu__link" href="#">About us</a>
        </li>
        <li class="mobil-menu__item">
          <a class="mobil-menu__link" href="#">How it’s made?</a>
        </li>
        <li class="mobil-menu__item">
          <a class="mobil-menu__link" href="#">Our products</a>
        </li>
        <li class="mobil-menu__item">
          <a class="mobil-menu__link" href="#">Contact</a>
        </li>
      </ul>
  </div>
</section>

