<section id="home" class="hero-section">
  <div class="container main-hero">
    <div class="big-circle">
      <picture>
        <source
          srcset="
            ./images/hero/ice-cream-big_mobile.png            1x,
            ./images/hero/hero@2x/ice-cream-big_mobile@2x.png 2x
          "
          media="(max-width: 767.98px)"
        />
        <source
          srcset="
            ./images/hero/ice-cream-big_tablet.png            1x,
            ./images/hero/hero@2x/ice-cream-big_tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/hero/ice-cream-big_desktop.png            1x,
            ./images/hero/hero@2x/ice-cream-big_desktop@2x.png 2x
          "
          media="(min-width: 1200px)"
        />

        <img
          class="main-ice-cream"
          src="./images/hero/ice-cream-big_desktop.png"
          alt="ice-cream"
          width="236"
        />
      </picture>
    </div>

    <div class="main-header">
      <h1 class="main-header__hero-header">
        ICE CREAM MADE WITH <span class="passion">PASSION</span>
      </h1>
      <ul class="hero-link-list">
        <li class="hero-link-list__products">
          <a class="hero-link-list__products" href="#products">Products</a>
        </li>
        <li class="hero-link-list__explanatory-link">
          <a class="hero-link-list__explanatory-link" href="#about"
            >How it’s made?</a
          >
        </li>
      </ul>
    </div>
    <div class="bio-eco">
      <picture>
        <source
          srcset="
            ./images/hero/bio-eco_tablet.png            1x,
            ./images/hero/hero@2x/bio-eco_tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/hero/bio-eco_desktop.png            1x,
            ./images/hero/hero@2x/bio-eco_desktop@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <img
          class="bio-eco__bio-eco-img"
          src="./images/hero/bio-eco_desktop.png"
          alt="milk"
        />
      </picture>
      <div class="block-button">
        <p class="block-button__informative-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="block-button__hero-button" type="button">
          <svg class="icon-arrow" width="10px" height="14px">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
    <ul class="hero-numbers">
      <li class="hero-numbers__list-numbers-l">
        <p class="hero-numbers__numbers">16</p>
        <p class="hero-numbers__number-description">cafes</p>
      </li>
      <li class="hero-numbers__list-numbers-ll">
        <p class="hero-numbers__numbers">23</p>
        <p class="hero-numbers__number-description second-description">
          food trucks
        </p>
      </li>
    </ul>
    <picture>
      <source
        srcset="
          ./images/hero/tasty_tablet.png            1x,
          ./images/hero/hero@2x/tasty_tablet@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/hero/tasty_desktop.png            1x,
          ./images/hero/hero@2x/tasty_desktop@2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <img class="tasty-img" src="./images/hero/tasty_tablet.png" alt="tasty" />
    </picture>
  </div>
</section>
