<div class="backdrop is-hidden" data-modal-contacts-franchise>
  <div class="modal">
    <button type="button" class="modal__close-btn" data-modal-contacts-franchise-close>
      <svg class="modal__close-icon" width="18" height="18" aria-label="Close">
        <use href="./images/icons.svg#icon-close-modal"></use>
      </svg>
    </button>
    <form class="franchise-form">
      <h2 class="franchise-title">CONTACT US</h2>
      <p class="franchise-description" type="Name:"><input placeholder="Write your name here.."></input></p>
      <p class="franchise-description" type="Email:"><input placeholder="Let us know how to contact you back.."></input>
      </p>
      <p class="franchise-description" type="Message:"><input placeholder="What would you like to tell us.."></input>
      </p>
      <div class="button-wrap">
        <button class="button btn btn--red" type="submit" >Send message
          <svg class="button__icon" width="5.61px" height="10px">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
      <div class="franchise-contacts">
        <a class="franchise-contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        <a class="franchise-contacts__link franchise-contacts__link--last"
          href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
    </form>
  </div>
</div>