<button
  style="background-color: black; height: 100px; width: 200px"
  data-modal-about-open
></button>
<div class="backdrop is-hidden" data-modal-about>
  <div class="modal-about">
    <button type="button" class="modal__close-btn" data-modal-about-close>
      <svg class="modal__close-icon" width="18" height="18" aria-label="Close">
        <use href="./images/icons.svg#icon-close-modal"></use>
      </svg>
    </button>
    <p class="modal-about__title-desc">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
      cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo
      fringilla.
    </p>
    <div class="modal-about__text-wrapper">
      <p class="modal__desc">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
        Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
        suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
        tincidunt.
      </p>
      <p class="modal__desc">
        Aliquam erat volutpat. Aenean accumsan. Curabitur lacinia enim at ex
        blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
        imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a
        feugiat urna maximus. Cras massa nibh, tincidunt.
      </p>
    </div>
  </div>
</div>
