<div class="backdrop is-hidden" data-modal-contacts-franchise>
  <div class="modal">
    <button
      type="button"
      class="modal__close-btn"
      data-modal-contacts-franchise-close
    >
      <svg class="modal__close-icon" width="18" height="18" aria-label="Close">
        <use href="./images/icons.svg#icon-close-modal"></use>
      </svg>
    </button>
    <form class="franchise-form">
      <h2 class="franchise-title">CONTACT US</h2>
      <div class="franchise-form__field">
        <label class="franchise-form__label" for="contacts-franchise-name"
          >Name:</label
        >
        <input
          id="contacts-franchise-name"
          class="franchise-form__input"
          required
          type="text"
          placeholder="Write your name here.."
        />
      </div>
      <div class="franchise-form__field">
        <label class="franchise-form__label" for="contacts-franchise-email"
          >Email:</label
        >
        <input
          id="contacts-franchise-email"
          class="franchise-form__input"
          required
          type="email"
          placeholder="Let us know how to contact you back.."
        />
      </div>
      <div class="franchise-form__field">
        <label class="franchise-form__label" for="contacts-franchise-message"
          >Message:</label
        >
        <input
          id="contacts-franchise-message"
          class="franchise-form__input"
          required
          type="text"
          placeholder="What would you like to tell us.."
        />
      </div>
      <div class="franchise-form__button-wrap">
        <button class="franchise-form__button btn" type="submit">
          Send message
        </button>
      </div>
      <div class="franchise-contacts">
        <address>
          <a class="franchise-contacts__link" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a
            class="franchise-contacts__link franchise-contacts__link--last"
            href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </address>
      </div>
    </form>
  </div>
</div>
