<section class="section products-section" id="products">
  <div class="container products-container">
    <div class="products-container--titled">
      <span class="products-container__name">100% natural</span>
    <h1 class="products-container__title">products</h1>
    </div>
      
    
    
    <ul class="products-container__list">
      <li class="products-container__item">

        <div class="products-container__overlay">
          <h2 class="products-container__item--named">ice cream</h2>
                <p class="products-container__item--described">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
        aliqua facilisis.</p>
        </div>
        

<nav class=" products-container__nav" >
  <button type="button" class="products-container__button is-open"
  aria-expanded="false"
  data-menu-button>
    <svg width="40" height="40"
    aria-label="опис продукту">
  
      
<use class="products-container__button-opened"  href="./images/arrow-right.svg#image0_57354_74" >
</use>
    

    </svg>
  </button>
  
  </nav>


      </li>
      <li class="products-container__item">
        <div class="products-container__overlay">
          <h2 class="products-container__item--named">ice coffee</h2>
              
        <p class="products-container__item--described">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
        aliqua facilisis.</p>
        </div>
        
        <nav class=" products-container__nav">
          <button type="button" class="products-container__button is-open" aria-expanded="false" data-menu-button>
            <svg width="40" height="40" aria-label="опис продукту">
             
              
              <use class="products-container__button-opened"  href="./images/arrow-right.svg#image0_57354_74" >
        </use>
        
        
            </svg>
          </button>
                  </nav>

      </li>
      <li class="products-container__item">
      <div class="products-container__overlay">
        <h2 class="products-container__item--named">milkshakes</h2>
        
       
        <p class="products-container__item--described">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
        aliqua facilisis.</p>
      </div>
        <nav class=" products-container__nav">
          <button type="button" class="products-container__button is-open" aria-expanded="false" data-menu-button>
            <svg width="40" height="40" aria-label="опис продукту">
              <!- <use class="products-container__button-closed" href="./images/cross-defs.svg#icon-cross" class="close">
              </use>--->
             
              <use class="products-container__button-opened"  href="./images/arrow-right.svg#image0_57354_74" >
        </use>
        
        
            </svg>
          </button>
        
        </nav>

      </li>
    </ul>

  </div>
</section>
