<section class="section products-section" id="product">
  <div class="container products-container">
    <span class="products-container__name">100% natural</span>
    <h1 class="products-container__title">products</h1>

    <ul class="products-container__list">
      <li class="products-container__item">
        <h2 class="products-container__item--named">ice cream</h2>
        <a class="contact-decor" href="">
          <svg class="icon" width="25" height="6">
            <use href="./images/symbol-defs.svg#icon-Group-4"></use>
          </svg>
        </a>
        <p class="products-container__item--described">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>

        <nav class="header__nav--buttoned is-hidden">
          <button
            type="button"
            class="header__button is-open"
            aria-expanded="false"
            aria-controls="header__button--dropped-down-menu"
          >
            <svg width="40" height="40" aria-label="перемикач мобільного меню">
              <use
                class="header__button--iconed-open"
                href="./images/arrow-defs.svg#icon-arrow-right"
              ></use>
            </svg>
          </button>
        </nav>
      </li>
      <li class="products-container__item">
        <h2 class="products-container__item--named">ice coffee</h2>
        <a class="contact-decor" href="">
          <svg class="icon" width="25" height="6">
            <use href="./images/symbol-defs.svg#icon-Group-4"></use>
          </svg>
        </a>
        <p class="products-container__item--described">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
      </li>
      <li class="products-container__item">
        <h2 class="products-container__item--named">milkshakes</h2>
        <a class="contact-decor" href="">
          <svg class="icon" width="25" height="6">
            <use href="./images/symbol-defs.svg#icon-Group-4"></use>
          </svg>
        </a>
        <p class="products-container__item--described">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
      </li>
    </ul>
  </div>
</section>
