<section class="section products-section" id="products">
  <div class="container products-container">
    <span class="products-container__name">100% natural</span>
    <h2 class="products-container__title">products</h2>

    <ul class="products-container__list">
      <li class="products-container__item">
        <div class="desc-overlay__wrapper">
          <h3 class="products-container__item--named">ice cream</h3>

          <p class="products-container__item--described">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <p class="products__desc-overlay" data-pink-desc>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut officia
            eveniet expedita quos ipsam in maxime quis repudiandae animi
            accusamus ad iure placeat cum quisquam consectetur, ut ratione?
            Adipisci, doloremque.
          </p>
        </div>
        <button type="button" class="products-container__button">
          <svg
            data-desc-pink-open
            class="product__arrow-icon"
            width="40"
            height="40"
            aria-label="Open/Close description product"
          >
            <use href="./images/icons.svg#icon-arrow-product"></use>
          </svg>
        </button>
      </li>

      <li class="products-container__item">
        <div class="desc-overlay__wrapper">
          <h3 class="products-container__item--named">ice coffee</h3>
          <p class="products-container__item--described">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <p class="products__desc-overlay desc--brown" data-brown-desc>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut officia
            eveniet expedita quos ipsam in maxime quis repudiandae animi
            accusamus ad iure placeat cum quisquam consectetur, ut ratione?
            Adipisci, doloremque.
          </p>
        </div>

        <button type="button" class="products-container__button">
          <svg
            data-desc-brown-open
            class="product__arrow-icon"
            width="40"
            height="40"
            aria-label="Open/Close description product"
          >
            <use href="./images/icons.svg#icon-arrow-product"></use>
          </svg>
        </button>
      </li>

      <li class="products-container__item">
        <div class="desc-overlay__wrapper">
          <h3 class="products-container__item--named">milkshakes</h3>
          <p class="products-container__item--described">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <p class="products__desc-overlay desc--green" data-green-desc>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut officia
            eveniet expedita quos ipsam in maxime quis repudiandae animi
            accusamus ad iure placeat cum quisquam consectetur, ut ratione?
            Adipisci, doloremque.
          </p>
        </div>

        <button type="button" class="products-container__button">
          <svg
            data-desc-green-open
            class="product__arrow-icon"
            width="40"
            height="40"
            aria-label="Open/Close description product"
          >
            <use href="./images/icons.svg#icon-arrow-product"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
