.contacts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: 0;
  list-style: none;
  margin-top: 0;

  @media screen and (min-width: 767.98px) {
    flex-wrap: nowrap;
  }
}

.contacts-item {
  background: var(--white-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  width: 280px;
  padding: 40px 32px;
  border: 1px solid red;

  @include for-tablet-up {
    width: calc(33.3333333333% - 20px);
    height: 538px;
    padding: 40px;
  }
  // @media screen and (min-width: 1199.98px) {

  // }

  &__label {
    padding: 0px 25px;
    margin-bottom: 20px;
    background: var(--brown-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--white-color);

    &--green {
      background: var(--green-color);
    }

    @include for-tablet-up {
      font-size: 16px;
      line-height: 30px;
    }

    @include for-desktop-up {
      font-size: 16px;
      line-height: 30px;
    }
  }

  &__title {
    font-family: 'DM Sans', serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: var(--black-color);

    @media screen and (min-width: 767.98px) {
      font-size: 14px;
      line-height: 26px;
    }

    @media screen and (min-width: 1199.98px) {
      font-size: 16px;
      line-height: 30px;
    }
  }

  &__description {
    margin-top: 8px;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: var(--grey-color);

    @media screen and (min-width: 767.98px) {
      font-size: 14px;
      line-height: 23px;
    }

    @media screen and (min-width: 1199.98px) {
      font-size: 16px;
      line-height: 29px;
    }
  }

  &_devider {
    border: 1px solid #e1e1e1;
  }

  &__working-days {
    margin-top: 24px;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    color: var(--black-color);

    &--last {
      margin-top: 8px;
    }

    @media screen and (min-width: 767.98px) {
      font-size: 14px;
      line-height: 26px;
    }

    @media screen and (min-width: 1199.98px) {
      font-size: 16px;
      line-height: 30px;
    }
  }

  &__working-hours {
    margin: 0px;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    color: var(--pink-color);

    &--last {
      margin-bottom: 24px;
    }

    @media screen and (min-width: 767.98px) {
      font-size: 14px;
      line-height: 26px;
    }

    @media screen and (min-width: 1199.98px) {
      font-size: 16px;
      line-height: 30px;
    }
  }

  &__link {
    display: block;
    margin-top: 24px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: var(--grey-color);

    &--email {
      margin-top: 0px;
    }

    @media screen and (min-width: 767.98px) {
      font-size: 14px;
      line-height: 26px;
    }

    @media screen and (min-width: 1199.98px) {
      font-size: 16px;
      line-height: 29px;
    }
  }
}
.contacts-button-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 32px;

  @media screen and (min-width: 767.98px) {
    flex-direction: row;
    margin-top: 60px;
    margin-right: 14, 5px;
  }

  .button {
    width: 162px;
    height: 44px;
    line-height: 44px;
    justify-content: center;
    padding: 0;
    border: 1px solid var(--black-color);
    gap: 8px;

    &__icon {
      margin-top: 2px;
      stroke: var(--white-color);
      &--red {
        margin-top: 2px;
        stroke: var(--red-color);
      }
    }
  }
}
