.section-contacts {
  background-color: var(--bg-second-color);
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 362px,
      rgba(255, 245, 246, 1) 362px,
      rgba(255, 245, 246, 1) 100%);
  padding-bottom: 40px;

  @include for-tablet-up {
    background: linear-gradient(180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 358px,
        rgba(255, 245, 246, 1) 358px,
        rgba(255, 245, 246, 1) 100%);
  }

  @include for-desktop-up {
    background: linear-gradient(180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 159px,
        rgba(255, 245, 246, 1) 159px,
        rgba(255, 245, 246, 1) 100%);
    padding-bottom: 120px;
  }

  .container {
    @include for-tablet-up {
      padding: 0 16px;
    }
  }
}

.contacts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: 0;
  list-style: none;
  margin-top: 0;

  @include for-mobile-only {
    gap: 20px;
  }

  @include for-tablet-up {
    flex-wrap: nowrap;
  }
}

.contacts-item {
  background: var(--white-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  width: 280px;
  padding: 40px 32px;

  @include for-tablet-up {
    width: calc(33.3333333333% - 20px);
    padding: 40px 32px;
  }

  @include for-desktop-up {
    padding: 40px;
  }
}

.contacts-item__label {
  padding: 0px 25px;
  margin-bottom: 32px;
  background: var(--brown-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  /* number value of l-h breaks height of element */
  line-height: 16px;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-color);

  &--green {
    background: var(--green-color);
  }

  @include for-tablet-up {
    font-size: 16px;
    line-height: 1.875;
    border-radius: 6px;
    height: 28px;
  }
}

.contacts-item__title {
  font-family: 'DM Sans', serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: var(--black-color);

  @include for-tablet-up {
    font-size: 14px;
    line-height: 1.857;
  }

  @include for-desktop-up {
    font-size: 16px;
    line-height: 1.875;
  }
}

.contacts-item__description {
  margin-top: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--grey-color);
  background: none;
  border-bottom: 1px solid var(--grey-second-color);
  padding-bottom: 24px;

  @include for-tablet-up {
    font-size: 14px;
    line-height: 1.66;
    margin-top: 12px;
    padding-bottom: 32px;
  }

  @include for-desktop-up {
    font-size: 16px;
    line-height: 1.81;
    margin-top: 8px;
    letter-spacing: 0.04em;
  }
}

.contacts-item__working-days {
  margin-top: 24px;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: var(--black-color);

  @include for-tablet-up {
    font-size: 14px;
    line-height: 1.85;
    margin-top: 32px;
  }

  @include for-desktop-up {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.04em;
  }

  &--last {
    margin-top: 8px;

    @include for-tablet-up {
      margin-top: 12px;
    }
  }
}

.contacts-item__working-hours {
  margin: 0px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: var(--pink-color);

  @include for-tablet-up {
    font-size: 14px;
    line-height: 1.85;
  }

  @include for-desktop-up {
    font-size: 16px;
    line-height: 1.875;
  }

  &--last {
    margin-bottom: 24px;
    border-bottom: 1px solid var(--grey-second-color);
    padding-bottom: 24px;

    @include for-tablet-up {
      padding-bottom: 32px;
    }
  }
}

.contacts-item__link {
  display: block;
  margin-top: 24px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--grey-color);

  @include for-tablet-up {
    font-size: 14px;
    line-height: 1.85;
    margin-top: 32px;
  }

  @include for-desktop-up {
    font-size: 16px;
    line-height: 1.81;
  }

  &--email {
    margin-top: 0px;
  }
}

.contacts-button-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 32px;

  @include for-tablet-up {
    flex-direction: row;
    margin-top: 60px;
    gap: 14.5px;
  }

  @include for-desktop-up {
    gap: 12px;
  }
}

.contacts__btn {
  height: 44px;
  /* same as height for vertical alignment*/
  width: 161px;
  padding: 0;
  line-height: 44px;
  justify-content: center;
  gap: 13px;
  cursor: pointer;
  transition: ease-out 0.4s;

  @include for-tablet-up {
    padding: 0 35px;
    width: auto;
  }
}

.contacts__btn-icon {
  margin-top: 2px;
  stroke: var(--white-color);
  transition: ease-out 0.4s;

  &--red {
    margin-top: 2px;
    stroke: var(--red-color);
    transition: ease-out 0.4s;
  }
}

.contacts__btn:hover,
.contacts__btn:focus {
  box-shadow: inset 200px 0 0 0 #d41443;
  color: var(--white-color);
  transition: ease-out 0.4s;
  cursor: pointer;

  &.btn--red {
    box-shadow: inset 200px 0 0 0 #ffffff;
    color: var(--red-color);
  }

  .contacts__btn-icon {
    stroke: var(--red-color);

    &--red {
      stroke: var(--white-color);
    }
  }
}