.footer {
    background: var(--bg-second-color);
    padding-bottom: 0px;
    padding-top: 0px;
}

.footer__container{
    @include for-tablet-up {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    
    @include for-desktop-up {
        margin-bottom: 60px;
    }
}

.footer__logo{
    margin: 0;

    font-family: 'Titan One';
    font-size: 18px;
    line-height: 1.16;
    text-transform: uppercase;

    color: var(--pink-color);

    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 232px;
    

    @include for-tablet-only{
        max-width: 340px;
        height: 179px;
        gap: 12px;
    }

    @include for-tablet-up {
        font-size: 26px;
        line-height: 1.15;
        letter-spacing: 0.04em;
    }

    @include for-desktop-up {
        max-width: 480px;
        height: 116px;
        font-size: 30px;
    }
} 

.footer__logo-item-second{
    font-size: 34px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    
    color: var(--red-color);

    @include for-tablet-up {
        font-size: 48px;
        letter-spacing: 0.06em;
        line-height: 1.14;
    }

    @include for-desktop-up {
        font-size: 58px;
    }
}

.footer__contacts-box{
    display:flex;
    flex-direction: column;

}

.footer__social-list {
    display: flex;
    gap: 28px;
    justify-content: end;
    
    @include for-mobile-only{
        margin: 40px 0;
    }

    @include for-tablet-up {
        gap: 30px;
        margin-top: 60px;
        margin-bottom: 40px;
    }

    @include for-desktop-up {
        margin-top: 12px;
        margin-bottom: 40px;
    }
}

.footer__social-item{
    display: flex;
}

.footer__social-link{
    display: flex;
    &:hover>.footer__social-icon, &:focus>.footer__social-icon{
        fill: var(--red-color);}
}

.footer__social-icon{
    width: 32px;
    height: 32px;
    fill: var(--bg-icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include for-tablet-up {
        width: 34px;
        height: 34px;
    }
}

.footer__contacts{
    display: flex;
    justify-content: flex-end;
    
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;

    @include for-mobile-only{
        margin-bottom: 40px;
    }

    @include for-tablet-up{
        font-size: 14px;
    }

    @include for-desktop-up {
        font-size: 16px;
        letter-spacing: 0.02em;
    }
}

.footer__contacts-label {
    margin: 0;
    padding-right: 4px;
    color: var(--black-color);
}

.footer__contacts-link {
    color: var(--red-color);
}

.footer__copyright-box{
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 3px;

    border-top: 1px solid var(--grey-second-color);

    @include for-tablet-up{
        padding: 8px 0;
    }

    @include for-desktop-up {
        padding-top: 7px;
        padding-bottom: 4px;
    }
}

.footer__copyright {
    font-size: 14px;
    line-height: 1.52;
    text-align: center;

    color: var(--grey-color);
    
    @include for-mobile-only{
        display: flex;
        flex-direction: column;
    }

    @include for-tablet-up {
        line-height: 1.86;
        letter-spacing: 0.02em;
    }
}

