.gallery-section {

    padding-top: 0;
    padding-bottom: 60px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (max-width: 767px) {
        background-image: linear-gradient(to bottom,
                #FFF5F6,
                #FFF5F6 17%,
                #fff 17%);
        width: 100%;
        padding-top: 4px;
    }


    @media screen and (min-width: 768px) {
        background-image: linear-gradient(to bottom,
                #FFF5F6,
                #FFF5F6 40%,
                #fff 40%);
        width: 100%;
        padding-top: 4px;
    }

    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(to bottom,
                #FFF5F6,
                #FFF5F6 29%,
                #fff 29%);

        width: 100%;
        padding-top: 60px;
    }
}

.gallery-container {
    @media screen and (max-width: 1200px) {
        padding: 0;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 2.53px;

    margin-right: auto;
    margin-left: auto;

    @include for-mobile-up {
        max-width: 320px;
    }

    @include for-tablet-only {
        gap: 4.3px;
        max-width: 768px;
    }

    @include for-tablet-up {
        gap: 6.07px;
        max-width: 768px;
    }

    @include for-desktop-up {
        gap: 8px;
        max-width: 1013px;
    }
}

.grid__item {
    border: none;
    border-radius: 20px;
    background: transparent;

    &:hover,
    &:focus {
        cursor: pointer;
    }
}

.grid__item--big {
    grid-area: 1 / 3 / span 6 / span 2;
}

.grid__item--two {
    // grid-area: 4 / 1 / span 3 / span 1;
    grid-area: 3 / 2 / span 3 / span 1;

    @include for-mobile-lower {

        &:hover,
        &:focus {
            transform: translateX(7px) scale(1.3);
        }
    }

    @include for-mobile-only {

        &:hover,
        &:focus {
            transform: translateX(13px) scale(1.3);
        }
    }
}

.grid__item--three {
    grid-area: 6 / 2 / span 3 / span 1;
}

.grid__item--four {
    // grid-area: 3 / 2 / span 3 / span 1;
    grid-area: 7 / 3 / span 3 / span 1;
}

.grid__item--five {
    // grid-area: 7 / 3 / span 3 / span 1;
    grid-area: 4 / 1 / span 3 / span 1;
}

.grid__item--six {
    grid-area: 3 / 5 / span 3 / span 1;
    // grid-area: 6 / 5 / span 3 / span 1;
}

.grid__item--seven {
    // grid-area: 3 / 5 / span 3 / span 1;
    grid-area: 6 / 5 / span 3 / span 1;
}

.grid__item--eight {
    grid-area: 2 / 6 / span 3 / span 1;
}

.grid__item--nine {
    grid-area: 5 / 6 / span 3 / span 1;
}

.grid__item--ten {
    grid-area: 4 / 7 / span 3 / span 1;

    @include for-mobile-lower {

        &:hover,
        &:focus {
            transform: translateX(-7px) scale(1.3);
        }
    }

    @include for-mobile-only {

        &:hover,
        &:focus {
            transform: translateX(-13px) scale(1.3);
        }
    }
}

.grid__item:hover {
    cursor: pointer;
    transform: scale(1.2);
    z-index: 1;
}