.hero-section {
  width: 100%;
  background-color: var(--bg-first-color);
  overflow: hidden;
  margin-top: -1px;

  @include for-tablet-up {
    overflow: visible;
  }

  @include for-desktop-up {
    margin-top: -87px;
    padding-top: 87px;
  }
}

.main-hero {
  position: relative;
  padding-top: 25px;
  height: 444px;

  @include for-tablet-up {
    height: 330px;
    padding-top: 20px;
  }

  @include for-desktop-up {
    height: 574px;
    padding-top: 60px;
  }
}

.big-circle {
  background-color: var(--pink-color);
  border-radius: 50%;
  width: 346px;
  height: 344px;
  position: relative;
  top: 0;
  left: 16px;

  // margin-top: 0px;
  // margin-left: 16px;

  @include for-tablet-up {
    width: 335px;
    height: 333px;

    top: -59px;
    left: 216px;

    // margin: 0;
  }

  @include for-desktop-up {
    width: 534px;
    height: 534px;

    top: -95px;
    left: 505px;
    z-index: 0;
  }
}

.main-ice-cream {
  position: absolute;
  top: 9;

  @include for-mobile-only {
    left: 50%;
    transform: translateX(-50%);
  }

  // width: 171px;
  // height: 410px;
  // bottom: 0px;
  // margin-left: 81px;

  @include for-tablet-up {
    top: 33;
    left: 74;

    width: 143px;
    // height: 334px;
    // margin-left: 74px;
    // bottom: -27px;
  }

  @include for-desktop-up {
    width: 236px;
    top: 56;
    left: 119;
    //   height: 557px;
    // margin-left: 119px;
    // bottom: -75px;
  }
}

.tasty-img {
  width: 304px;
  height: 241px;
  margin-left: auto;
  position: absolute;
  bottom: 0;
  right: 16px;
  display: none;
  z-index: 3;

  @include for-tablet-up {
    display: block;
    width: 190px;
    height: 150px;
    right: 32px;
  }

  @include for-desktop-up {
    width: 304px;
    height: 241px;
    right: 16px;
  }
}

.bio-eco__bio-eco-img {
  @include for-tablet-up {
    width: 152px;
    height: 154px;
  }

  @include for-desktop-up {
    width: 213px;
    height: 216px;
  }
}

.bio-eco {
  display: none;

  @include for-tablet-up {
    display: block;
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 16px;
  }

  @include for-desktop-up {
    bottom: 60px;
  }
}

.block-button__informative-text {
  @include for-tablet-up {
    width: 114px;
    height: 48px;
    font-size: 8px;
    line-height: 1.5em;
  }

  @include for-desktop-up {
    width: 200px;
    height: 78px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
  }
}

.block-button__hero-button {
  border-radius: 50%;
  background-color: white;

  cursor: pointer;

  @include for-tablet-up {
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    display: flex;
  }

  @include for-desktop-up {
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    display: flex;
  }
}

.block-button__hero-button:hover,
.block-button__hero-button:focus {
  fill: var(--white-color);
  background-color: var(--red-color);
}


.icon-arrow {
  @include for-tablet-up {
    width: 5px;
    height: 7px;
  }

  @include for-desktop-up {
    width: 10px;
    height: 14px;
  }
}

.main-header__hero-header {
  margin-bottom: 20px;

  max-width: 218px;
  max-height: 106px;

  font-size: 26px;
  letter-spacing: 0.04em;

  @include for-tablet-up {
    max-width: 162px;
    max-height: 80px;
    font-size: 22px;
    line-height: 1.14;
  }

  @include for-desktop-up {
    max-width: 277px;
    max-height: 137px;
    font-weight: 400;
    font-size: 38px;
    margin-bottom: 24px;
  }
}

.passion {
  color: var(--red-color);
  font-size: 48px;
  line-height: 0.9;

  @include for-tablet-up {
    font-size: 34px;
  }

  @include for-desktop-up {
    font-size: 58px;
  }
}

.main-header {
  position: absolute;
}

.main-header {
  @include for-mobile-up {
    top: 136px;
  }

  @include for-tablet-up {
    top: 20px;
  }

  @include for-desktop-up {
    top: 60px;
  }
}

.hero-link-list {
  display: flex;
  gap: 8px;

  @include for-desktop-up {
    gap: 12px;
  }
}


.hero-link-list__products {
  display: flex;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.3;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 24px;

  @include for-desktop-up {
    font-size: 14px;
    width: 107px;
    height: 40px;
  }
}

.hero-link-list__products {
  background-color: var(--red-color);
  color: var(--white-color);
  border-radius: 20px;
}

.hero-link-list__explanatory-link {
  background-color: var(--white-color);
  color: var(--red-color);
  border-radius: 20px;
}

.hero-link-list__explanatory-link {
  display: flex;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.3;
  width: 82px;
  height: 24px;
  justify-content: center;
  align-items: center;


  @include for-desktop-up {
    font-size: 14px;
    width: 138px;
    height: 40px;
  }
}

.hero-link-list__explanatory-link:hover .hero-link-list__explanatory-link,
.hero-link-list__explanatory-link:focus .hero-link-list__explanatory-link {
  color: var(--red-color);
  background-color: var(--hover-color);
}

.hero-numbers {
  display: none;

  @include for-tablet-up {
    display: block;
    position: absolute;
    top: 18px;
    right: 42px;
  }

  @include for-desktop-up {
    display: block;
    position: absolute;
    top: 68px;
    right: 20px;
  }
}

.hero-numbers__numbers {
  position: relative;
  text-align: right;
  font-family: Titan One;
  color: var(--red-color);
  margin: 0;
  z-index: 0;

  &:after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--white-color);
    top: -2px;
    right: -9px;
    z-index: -1;
  }

  @include for-tablet-up {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.04em;
  }

  @include for-desktop-up {
    font-weight: 400;
    font-size: 46px;
    line-height: 1.14;
    letter-spacing: 0.04em;

    &:after {
      width: 30px;
      height: 30px;
    }
  }
}

.second-description {
  text-align: start;
}

.hero-numbers__number-description {
  @include for-tablet-up {
    font-weight: 400;
    text-align: right;
    font-size: 8px;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 0;
  }

  @include for-desktop-up {
    font-size: 14px;
  }
}

.hero-numbers__list-numbers-l {
  position: relative;
  margin-bottom: 16px;
}

.hero-numbers__list-numbers-ll {
  position: relative;
}