.menu-toggle {
  margin-left: auto;
  background-color: var(--bg-menu-color);
  cursor: pointer;

  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 60px;
  width: 250px;
  height: 100vh;
  z-index: 4;
  overflow-y: scroll;

  background-color: var(--bg-menu-first-color);

  transform: translateX(100%);
  @include transition(transform);

  @media screen and (min-width: 768px) {
    padding-top: 58px;
    width: 254px;
    height: 100vh;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
  @include transition(transform);
}

.menu-toggle--close {
  position: absolute;
  top: 20px;
  right: 20px;

  @media screen and (min-width: 768px) {
    margin-right: 0;
    right: 32px;
  }
}

.mobil-icon--close {
  stroke: var(--white-color);
  @include transition(fill);

  &:hover,
  &:focus {
    stroke: var(--red-color);
  }
}

.mobil-nav__btn {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 209px;
  height: 44px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    max-width: 186px;
  }

  &:hover, &:focus {
    background-color: var(--hover-color);
    @include transition(background-color);
  }
}

.mobil-nav__btn--icon {
  margin-left: 28px;

  stroke: var(--red-color);

  @media screen and (min-width: 768px) {
    margin-left: 21px;
  }
}

.mobil-nav__item {
  padding-left: 20px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-top: 1px solid var(--bg-menu-second-color);

  &:last-child {
    border-bottom: 1px solid var(--bg-menu-second-color);
  }
}

.mobil-nav__link {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  @include transition(color);

  &:hover, &:focus {
    color: var(--red-color);
    @include transition(color);
  }
}