[data-modal-contacts-franchise] {
  transition: visibility 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  .modal {
    background-color: rgb(236, 219, 221);
    min-height: auto;

    @media screen and (max-height: 520px) {
      top: 0;
      margin: 20px auto;
      transform: translate(-50%, 0);
    }
  }

  .franchise-form {
    background-color: var(--white-color);
    width: 270px;
    border-radius: 8px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    padding: 20px 30px;
    max-width: calc(100vw - 40px);

    @include for-tablet-up {
      width: 600px;
    }

    @include for-desktop-up {
      width: 700px;
    }
  }

  .franchise-form__field {
    margin: 14px 0 14px;
  }

  .franchise-form__label {
    color: var(--grey-color);
  }

  .franchise-form__input {
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    border-bottom: 2px solid var(--pink-color);
    font-weight: 700;
    font-size: 11px;
    line-height: 2;

    @include for-tablet-up {
      font-size: 14px;
      line-height: 1.85;
    }

    @include for-desktop-up {
      font-size: 16px;
      line-height: 1.875;
    }

    &:focus {
      border-bottom: 2px solid var(--green-color);
    }
  }

  .franchise-form__button-wrap {
    display: flex;
    justify-content: flex-end;
  }

  .franchise-form__button {
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid var(--red-color);
    border-radius: 22px;
    background: 0;
    color: var(--grey-color);
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background: var(--red-color);
      color: var(--white-color);
    }
  }

  .franchise-title {
    color: var(--red-color);
  }

  .franchise-contacts {
    content: 'Hi';
    position: absolute;
    bottom: -35px;
    right: 0;
    background: rgb(236, 213, 216);
    color: var(--red-color);
    width: 150px;
    padding: 16px 4px 16px 0;
    border-radius: 22px;
    font-size: 12px;
    box-shadow: 10px 10px 40px -14px #000;
    text-align: center;

    @include for-tablet-up {
      width: 250px;
    }
  }

  .franchise-contacts__link {
    display: inline-block;
    margin: 0 5px 0 15px;

    &--last {
      margin-top: 10px;
    }
  }
}
