    .products-container {
     
    margin-left: auto;
    margin-right: auto;
        
    @media screen and (max-width:320px) {
            width: 100%;
            padding-left: 20px;
                padding-right: 20px;
        }
    @media (min-width:321px) and (max-width:767px) {
            width: 320px;
            padding-left: 20px;
            padding-right: 20px;
        }
    @media (min-width:768px) and (max-width:1199px) {
            width: 768px;
            padding-left: 32px;
            padding-right: 32px;
        }
    @media screen and (min-width:1200px) {
            width: 1200px;
            padding-left: 16px;
            padding-right: 16px;
        }
    }

    .products-container--titled{
    @media screen and (max-width:320px){
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    @media (min-width:321px) and (max-width:767px) {
        width: 200px;
        height: 72px;
    margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        margin-bottom: 8px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    @media (min-width:768px) and (max-width:1199px) {
        width: 283px;
        height: 103px;
    margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        margin-top: 60px;
    }
    @media screen and (min-width:1200px) {
        width: 394px;
            height: 116px;
            margin-left: auto;
                margin-right: auto;
            margin-bottom: 20px;
            margin-top: 61px;
        
    }
    }
        .products-container__name {
            display: block;
            margin-left: auto;
            margin-right: auto;
        font-family: 'Titan One';
        font-weight: 400;
        
        
        text-transform: uppercase;
        color: var(--pink-color);
        margin-bottom: 16px;
        @media screen and (max-width:320px) {
            display: block;
        font-size: 18px;
        line-height: 1.16;
        margin-left: auto;
            margin-right: auto;
            width: 142px;
            
        
        }
        @media (min-width:321px) and (max-width:767px) {
            display: block;
        font-size: 18px;
        line-height: 1.16;
        margin-left: auto;
            margin-right: auto;
            text-align: center;
                align-items: center;
                justify-content: center;
            width: 142px;
            
            
        
        }
        @media (min-width:768px) and (max-width:1199px) {
            display: block;
        font-size: 26px;
        line-height: 1.15;
    margin-left: auto;
        margin-right: auto;
            width: 205px;
            
        
        }
        @media screen and (min-width:1200px) {
            display: block;
        font-size: 30px;
        line-height: 1.13;
        letter-spacing: 0.04em;
        margin-left: auto;
            margin-right: auto;
            width: 280px;
            
        
        }
        }
        .products-container__title {
            font-family: 'Titan One';
            font-weight: 400;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.04em;
            color: var(--red-color);
            margin-bottom: 20px;
    margin-left: auto;
        margin-right: auto;
            @media screen and (max-width:320px) {
                font-size: 34px;
                line-height: 1.147;
                margin-top: 15px;
                margin-left: auto;
                    margin-right: auto;
            }
            @media (min-width:321px) and (max-width:767px) {
            font-size: 34px;
            line-height: 1.147;
            margin-top: 15px;
            margin-left: auto;
                margin-right: auto;
                text-align: center;
                    align-items: center;
                    justify-content: center;
            }
    @media (min-width:768px) and (max-width:1199px) {
                font-size: 48px;
                line-height: 1.145;
                margin-top: 18px;
                margin-left: auto;
                    margin-right: auto;
            }
    @media screen and (min-width:1200px) {
                font-size: 58px;
                line-height: 1.137;
                letter-spacing: 0.06em;
                margin-top: 16px;
                margin-left: auto;
                    margin-right: auto;
            }
        }
    .products-container__list {
        list-style: none;
        margin-top: 20px;
                    @media screen and (max-width:320px) {
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        width: 100%;
                        height: 100%;
                        margin-top: 20px;
                    }
        
                    @media (min-width:321px) and (max-width:767px) {
                        display: block;
                      width: 320px;
                      height: auto;
                    margin-top: 20px;
                    padding-left: 20px;
                    padding-right: 20px;
                    }
        
                    @media (min-width:768px) and (max-width:1199px) {
                        display: flex;
                        align-items: flex-start;
                            justify-content: center;
                        
                        /*width: 768px;*/
                        margin-top: 20px;
                    }
        
                    @media screen and (min-width:1200px) {
                        display: flex;
                        align-items: flex-start;
                            justify-content: center;
                        
                        /*width: 1200px;*/
                        margin-top: 20px;
                        padding-top: 120px;
                    }
                }
@media screen and (max-width:320px){
    .products-container__item{
        position: relative;
            width: 100%;
            height: auto;
            border-radius: 24px;
    }
}
@media (min-width:321px) and (max-width:767px){
    .products-container__item{
        position: relative;
            width: 280px;
            height: 489px;
            margin-left: 0;
            margin-right: 0;
            border-radius: 24px;
            padding-top: 140px;
            
    }
}
@media (min-width:768px) and (max-width:1199px){
.products-container__item{
        position: relative;
        width: 224px;
        height: 473px;
        border-radius: 24px;
        padding-top: 138px;

    }
}
  @media screen and (min-width:1200px){
.products-container__item{
      position: relative;
      width: 368px;
      height: 535px;
      border-radius: 24px;
      padding-top: 261px;
  }
  } 


       /* .products-container__item {
            position: relative;
            border-radius: 24px;
            
            
    
            @media screen and (max-width:320px) {
                position: relative;
                width: 100%;
                height: auto;
                border-radius: 24px;
            }
    
            @media (min-width:321px) and (max-width:767px) {
                position: relative;
                width: 280px;
                height: 489px;
                
                border-radius: 24px;
                padding-top: 140px;
            }
    
            @media (min-width:768px) and (max-width:1199px) {
                position: relative;
                width: 224px;
                height: 473px;
                border-radius: 24px;
                padding-top: 138px;
    
            }
    
            @media screen and (min-width:1200px) {
                position: relative;
                width: 368px;
                height: 535px;
    border-radius: 24px;
    padding-top: 261px;
            }
        }*/

    .products-container__item:not(:last-child){
    @media (min-width:768px) and (max-width:1199px){
    margin-right: 16px;
    }
    }
    .products-container__item:not(:last-child) {
    @media screen  and (min-width:1200px) {
    margin-right: 32px;
    }
    }


        .products-container__item::before {
            display: block;
            content: '';
    /*padding: 20px;*/
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
    
        @media screen and (max-width:767px)  {
                height: 280px;
                width: 280px;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 20px;
                /*margin-bottom: 20px;
                        padding: 100px;*/
                    }
    
            @media (min-width:768px) and (max-width:1199px) {
                height: 224px;
                width: 224px;
                margin-bottom: 32px;
                padding: 70px;
            }
    
            @media screen and (min-width:1200px) {
                height: 394px;
                width: 368px;
                margin-bottom: 32px;
                padding: 70px;
            }
        }
        .products-container__item:nth-child(1) {
    background-color: var(--bg-first-color);
    position: relative;
    margin-top: 140px;
    padding: 30px;
        }

    .products-container__item:nth-child(1)::before {
          
                                     
        
                    @media screen and (max-width:767px) {
                        background-image: url('../images/product/ice-cream_mobile.png');
                        position: absolute;
                            left:5px;
                            top: -140px;
                            padding: 30px;
                            }
        
                    @media (min-width:768px) and (max-width:1199px) {
                        background-image: url('../images/product/ice-cream_tablet.png');
                        margin-right: 15px;
                        position: absolute;
                            left: 2px;
                            top: -138px;
                            padding: 30px;
                            width: 224px;
                    }
        
                    @media screen and (min-width:1200px) {
                        background-image: url('../images/product/ice-cream_desktop.png');
                        margin-right: 30px;
                        position: absolute;
                            left: 2px;
                            top: -261px;
                            padding: 30px;
                            width: 368px;
                    }
                }

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .products-container__item:nth-child(1)::before{
         @media screen and (max-width:767px) {
            background-image: url('../images/product/product@2x/ice-cream_mobile@2x.png');
}
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .products-container__item:nth-child(1)::before {
        @media (min-width:768px) and (max-width:1199px) {
                background-image: url('../images/product/product@2x/ice-cream_tablet@2x.png');
        }
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .products-container__item:nth-child(1)::before {
        @media screen and (min-width:1200px) {
                background-image: url('../images/product/product@2x/ice-cream_desktop@2x.png');
        }
    }
}


                


.products-container__item:nth-child(2) {
    background-color: var(--brown-color);
position: relative;
margin-top: 140px;
padding: 30px;
}

.products-container__item:nth-child(2)::before {
   
        
    @media screen and (max-width:767px) {
        background-image: url('../images/product/ice-coffee_mobile.png');
        position: absolute;
            left: 5px;
                top: -140px;
            padding: 30px;
    }

    @media (min-width:768px) and (max-width:1199px) {
        background-image: url('../images/product/ice-coffee_tablet.png');
        margin-right: 15px;
        position: absolute;
            left: 2px;
                top: -138px;
            padding: 30px;
            width: 224px;
    }

    @media screen and (min-width:1200px) {
        background-image: url('../images/product/ice-coffee_desktop.png');
        margin-right: 30px;
        position: absolute;
            left: 2px;
                top: -261px;
            padding: 30px;
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .products-container__item:nth-child(2)::before {
        @media screen and (max-width:767px) {
            background-image: url('../images/product/product@2x/ice-coffee_mobile@2x.png');
        }
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .products-container__item:nth-child(2)::before {
        @media (min-width:768px) and (max-width:1199px) {
            background-image: url('../images/product/product@2x/ice-coffee_tablet@2x.png');
        }
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .products-container__item:nth-child(2)::before {
        @media screen and (min-width:1200px) {
            background-image: url('../images/product/product@2x/ice-coffee_desktop@2x.png');
        }
    }
}

.products-container__item:nth-child(3) {
    background-color: var(--green-color);
    position: relative;
    margin-top: 140px;
    padding: 30px;
}

.products-container__item:nth-child(3)::before {
       @media screen and (max-width:767px) {
        background-image: url('../images/product/milkshakes_mobile.png');
        position: absolute;
            left: 5px;
                top: -140px;
            padding: 30px;
    }

    @media (min-width:768px) and (max-width:1199px) {
        background-image: url('../images/product/milkshakes_tablet.png');
        position: absolute;
            left: 2px;
                top: -138px;
            padding: 30px;
            width: 224px;
    }

    @media screen and (min-width:1200px) {
        background-image: url('../images/product/milkshakes_desktop.png');
        position: absolute;
            left: 2px;
                top: -261px;
            padding: 30px;
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .products-container__item:nth-child(3)::before {
        @media screen and (max-width:767px) {
            background-image: url('../images/product/product@2x/milkshakes_mobile@2x.png');
        }
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .products-container__item:nth-child(3)::before {
        @media (min-width:768px) and (max-width:1199px) {
            background-image: url('../images/product/product@2x/milkshakes_tablet@2x.png');
        }
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .products-container__item:nth-child(3)::before {
        @media screen and (min-width:1200px) {
            background-image: url('../images/product/product@2x/milkshakes_desktop@2x.png');
        }
    }
}

.products-container__item--named {
    position: relative;
    font-family: 'Titan One';
    font-weight: 400;
    text-align: center;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--white-color);
    font-size: 20px;
    line-height: 1.15;
    @media screen and (max-width:320px) {
    padding-top: 160px;
        /*padding-left: 53px;
        padding-right: 53px;*/
        padding-bottom: 32px;
        position: relative;
    }
    @media (min-width:321px) and (max-width:767px) {
    position: relative;
        
        padding-top: 160px;
        padding-bottom: 32px;
    }
        @media (min-width:768px) and (max-width:1199px) {
position: relative;

padding-top: 118px;
padding-bottom: 32px;
        }

    @media screen and (min-width:1200px) {
        position: relative;
        font-size: 30px;
        line-height: 1.13;
                   padding-top: 165px;
            padding-bottom: 32px;
    }
}

.products-container__item--named::after{
    content: '...';
     position: absolute;
            left: 50%;
            bottom: 32pxpx;
   background-image: url('../images/symbol-defs.svg#icon-Group-4');
        width: 26px;
        height: 6px;
        color: var(--white-color);
        display: flex;
        padding-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
    }


.contact-decor {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width:320px) and (max-width:767px) {
       
    padding-bottom: 32px;  
    }
    @media (min-width:768px) and (max-width:1199px) {
                    padding-bottom: 32px;
    }
    @media screen  and (min-width:1200px) {
       
            padding-bottom: 32px;
    }
   
}

.icon{
    fill: var(--white-color);
}


.products-container__item--described {
    
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;

    text-align: center;
    letter-spacing: 0.04em;
    color: var(--white-color);
    
        padding-bottom: 112px;

    @media screen and (max-width:767px) {
        line-height: 1.52;
        
        padding-bottom: 112px;
    }

    @media (min-with:768px) and (max-width:1199px) {
        line-height: 1.76;
        
            padding-bottom: 112px;
    }

    @media screen and (min-width:1200px) {
        font-size: 16px;
        line-height: 1.76;
        
            padding-bottom: 160px;
    }
}

 

 .products-container__button {

    @media screen and (max-width:767px) {
        position: absolute;
        left: 93px;
        bottom: 80px;
        display: inline-flex;
        border-radius: 100%;
        margin: 0;
        padding: 0;
        border: none;
        fill: var(--red-color);
    }

    @media (min-width:768px) and (max-width:1199px) {
        left: 15px;
        bottom: 20px;
        display: inline-flex;
        border-radius: 100%;
        margin: 0;
        padding: 0;
        border: none;
        fill: var(--red-color);
    }
         @media screen and (min-width:1200px) {
             left: 15px;
             bottom: 20px;
             display: inline-flex;
             border-radius: 100%;
             margin: 0;
             padding: 0;
             border: none;
            fill: var(--red-color);
         }
}


.products-container__button{
    width: 40px;
    height: 40px;
    fill: var(--red-color);
}

.products-container__button-opened:hover{
    transform: scale(1.1);
    
    
}


.products-container__overlay{
    @media  screen and (max-width:767px) {
        position: relative;
    }
    @media (min-width:768px) and (max-width:1199px) {
        position: relative;
    }
    @media screen and (min-width:1200px) {
        position: relative;
    }
}

.product-information{
    position: absolute;
    top: 140px;
    left: 0;
    width: 100%;

    background-color: var(--bg-first-color);
    padding: 20px;
    text-align: center;
    font-size: 20;
    border-radius: 24px;
    display: none;
}
@media screen and (max-width:767px) {
   .products-container__item > .products-container__nav{
    position: absolute;
    left: 25px;
    bottom: -32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
}
 
}

@media (min-width:768px) and (max-width:1199px) {
    .products-container__item>.products-container__nav {
        position: absolute;
        left: 92px;
        bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 40px;
    }

}

@media screen and (min-width:1200px) {
    .products-container__item>.products-container__nav {
        position: absolute;
        left: 164px;
        bottom: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 40px;
    }

}
.products-container__button-opened{
    fill: var(--red-color);
}

